.btn {
  padding: 16px 24px;
}

.btnSuccess {
  color: #fff !important;
  background-color: #2EBA77!important;
  border-color: #2EBA77!important;
}

.btnSuccess:hover {
  background: #07A158!important;
}
