.title {
  font-size: 26px;
  line-height: 1.3;

  @media screen and (min-width: 992px) {
    font-size: 52px;
  }
}

.btn {
  @media screen and (min-width: 1200px) {
    margin-top: -50px;
  }
  @media screen and (min-width: 1400px) {
    margin-top: -190px;
  }
}