.slider {
  padding: 120px 0 160px;
}

.slider h2 {
  font-size: 33px;
  font-weight: 600;

  @media screen and (min-width: 768px) {
    font-size: 52px
  }

  @media screen and (min-width: 992px) {
    font-size: 47px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 52px
  }
}