.slider {
  padding: 200px 0;
}

.slider h2 {
  font-size: 52px;
  font-weight: 600;
}
//
//.slider_item {
//  border-radius: 10px;
//  position: relative;
//  height: 685px;
//  width: 100%;
//}
//
//.slider_item:before {
//  content: "";
//  position: absolute;
//  border-radius: 10px;
//  background: rgba(0, 0, 0, 0.4);
//  left: 0;
//  right: 0;
//  top: 0;
//  bottom: 0;
//}
//
//.slider_item .title {
//  transform: rotate(180deg);
//  font-weight: 400;
//  font-size: 38px;
//  color: #ffffff;
//  writing-mode: vertical-lr;
//  padding: 20px;
//  cursor: pointer;
//  white-space: nowrap;
//  height: 100%;
//}
//
//.content {
//  width: 90%;
//  background: rgb(213 213 213 / 20%);
//  color: #ffffff;
//  padding: 20px;
//  border-radius: 10px;
//  z-index: 2;
//  position: relative;
//  bottom: 20px;
//}
//
//.slider_item._1 {
//  background: url(../../images/Delivery/ukr.jpg) no-repeat;
//  background-size: cover;
//}
//
//.slider_item._2 {
//  background: url(../../images/Delivery/pol.jpg) no-repeat;
//  background-size: cover;
//}
//
////.content_wrapper {
////  display: none;
////}
//
//.check_item {
//  display: flex;
//}
//
//.svg_container {
//  display: flex;
//  justify-content: center;
//  align-items: center;
//
//  background: #ffffff;
//  margin: 3px 10px 0 0;
//  width: 20px;
//  height: 20px;
//  border-radius: 3px;
//  border: 1.5px;
//}
//
//.svg_container svg {
//  //width: 10px;
//  height: 7px;
//}
