.input {
  display: flex;
  height: var(--gap-56, 56px);

  padding: var(--gap-16, 16px);
  align-items: center;
  gap: var(--gap-8, 8px);
  align-self: stretch;
  border-radius: var(--angle-8, 8px);
  background: var(--grayscale-50, #F6F6F9);
  border: none;

  color: var(--grayscale-500, #475569);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;

  &~label::after {
    background-color: unset !important;
  }

  &:focus {
    background: var(--grayscale-50, #F6F6F9);
    border: none;
    color: var(--grayscale-500, #475569);
    box-shadow:none;

    &~label::after {
      background-color: unset !important;
    }
  }
}

.error {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
  color: #DA291C;
}
