$red: #DA291C;

.registrationWrap {
  @media screen and (max-width: 768px) {
    margin-top: 120px;
  }
}

.registration {
  border-radius: 8px;
  background: #FFF;
  box-shadow:
    0px 8px 40px 0px rgba(0, 0, 0, 0.20),
    0px 14px 20px 0px rgba(0, 0, 0, 0.20),
    0px 0px 1px 0px rgba(0, 0, 0, 0.70);
  overflow: hidden;

  .leftSide {
    padding: 60px;
    width: 459px;
    border-radius: var(--gap-0, 0px);
    background: var(--bg-powder-blue-light, #C4E9E0);

    .stepsBlock {
      height: fit-content;
      gap: 20px;

      .circleStep {
        background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' id='circleStepGrey' width='49' height='45' fill='none'%3E%3Ccircle cx='24.5' cy='22.492' r='22.25' fill='%23fff' stroke='%23E2E8F0' stroke-width='.5'/%3E%3Ccircle cx='24.5' cy='22.492' r='19.5' fill='%23E2E8F0'/%3E%3Cg filter='url(%23a)'%3E%3Ccircle cx='24.5' cy='22.492' r='14.5' fill='%23fff'/%3E%3C/g%3E%3Ccircle cx='47' cy='21.992' r='1.717' fill='%23fff' stroke='%23E2E8F0' stroke-width='.567'/%3E%3Ccircle cx='2' cy='21.992' r='1.717' fill='%23fff' stroke='%23E2E8F0' stroke-width='.567'/%3E%3Cdefs%3E%3Cfilter id='a' width='31.266' height='32.022' x='8.867' y='7.992' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='1.889'/%3E%3CfeGaussianBlur stdDeviation='.567'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow_1423_2637'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow_1423_2637' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
        width: 49px;
        height: 45px;
        text-transform: uppercase;
        color: #94A3B8;
        position: relative;

        flex-direction: column;
        justify-content: center;
        align-items: center;

        .circleNumber {
          font-size: 8px;
          text-align: center;
          line-height: 6px;
        }

        .circleStepText {
          font-size: 6px;
          text-align: center;
        }

      }

      .title {
        color: #94A3B8;
      }

      .active .title {
        color: #000;
      }

      *:last-child .circleStep:before {
        content: none;
      }

      .circleStep:before {
        content: "";
        position: absolute;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='22' fill='none'%3E%3Cpath stroke='%23E2E8F0' stroke-width='2' d='M2.5-.008v22'/%3E%3Ccircle cx='2.5' cy='10.992' r='2' fill='%23fff' stroke='%23E2E8F0' stroke-width='.567'/%3E%3C/svg%3E");
        width: 6px;
        height: 22px;
        bottom: -22px;
      }
    }

    .active .circleStep {
      background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' id='circleStep' width='49' height='46' fill='none'%3E%3Ccircle cx='24.5' cy='23.004' r='22.25' fill='%23fff' stroke='%23DA291C' stroke-width='.5'/%3E%3Ccircle cx='24.5' cy='23.004' r='19.5' fill='%23DA291C'/%3E%3Cg filter='url(%23a)'%3E%3Ccircle cx='24.5' cy='23.004' r='14.5' fill='%23fff'/%3E%3C/g%3E%3Ccircle cx='47' cy='22.504' r='1.75' fill='%23fff' stroke='%23DA291C' stroke-width='.5'/%3E%3Ccircle cx='2' cy='22.504' r='1.75' fill='%23fff' stroke='%23DA291C' stroke-width='.5'/%3E%3Cdefs%3E%3Cfilter id='a' width='31.266' height='32.022' x='8.867' y='8.504' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='1.889'/%3E%3CfeGaussianBlur stdDeviation='.567'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow_1423_2075'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow_1423_2075' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
      color: #000;
      height: 46px;
    }

    .active .circleStep:before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6' height='22' fill='none'%3E%3Cpath stroke='%23DA291C' stroke-linecap='round' stroke-width='2' d='M3 .992v20'/%3E%3Ccircle cx='3' cy='10.938' r='2' fill='%23fff' stroke='%23DA291C' stroke-width='.567'/%3E%3C/svg%3E");
      bottom: -21px;
    }
  }

  .rightSide {
    padding: 60px;
    border-radius: var(--gap-0, 0px);
    height: 750px;

    @media screen and (max-width: 768px) {
      padding: 30px;
      width: 100%;
      height: auto;
    }

    .formWrapper {

    }
  }
}