.check_item {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.svg_container {
  background: #fff;
  margin: 3px 10px 0 0;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  border: 1.5px;
}