.title{
  margin-bottom: 24px;

  @media (min-width: 576px) {
    margin-bottom: 140px;
  }
}

.shopping {
  padding-bottom: 200px;
}

.shopping h2 {
  font-size: 52px;
  font-weight: 600;
}

.svg {
  width: 30px;
  height: 30px;
}
