@import "~modern-normalize/modern-normalize.css";
@import url('https://fonts.googleapis.com/css?family=Inter:regular,bold,italic,300,600');

//$mdBreakpoint: 768px;
        //("xs":320px, "sm":576px, "md":768px, "lg":992px, "xl":1200px);

body {
  font-family: Inter, serif !important;
  margin-top: 77px !important;
}

img {
  display: block;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  max-width: 100%;
}

.svg{
  position: absolute;
  top: 16px;
  right: 16px;

  cursor: pointer;
  width: 24px;
  height: 24px;
}

.formSmallText {
  color: var(--grayscale-500, #475569);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0.96px;
  text-transform: uppercase;

  span {
    color: var(--grayscale-400, #94A3B8);
  }
}

.input.form-control {
  display: flex;
  height: var(--gap-56, 56px);

  padding: var(--gap-16, 16px);
  align-items: center;
  gap: var(--gap-8, 8px);
  align-self: stretch;
  border-radius: var(--angle-8, 8px);
  background: var(--grayscale-50, #F6F6F9);
  border: none;

  color: var(--grayscale-500, #475569);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;

  &~label::after {
    background-color: unset !important;
  }

  &:focus {
    background: var(--grayscale-50, #F6F6F9);
    border: none;
    color: var(--grayscale-500, #475569);
    box-shadow:none;

    &~label::after {
      background-color: unset !important;
    }
  }
}

.errorInput {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
  color: #DA291C;
}

.accordion-item {
  border: none !important;
}

.accordion-button:not(.collapsed) {
  background-color: #fff !important;
}

.accordion-button:focus {
  box-shadow: unset !important;
}
.accordion-header > button {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}
.accordion-button:not(.collapsed) {
  color: #000 !important;
}
